@import "normalize.css";
@import url(https://db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse+Bold);
@import url(https://db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto);
* {
  font-family: "Roboto";
}
.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.leftLogo {
  /* background-image: url("images/malik-skydsgaard-bop5rmAXHvw-unsplash.jpg"); */
  background-image: url("images/kevin-jackson-EXdTyJ13-nQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
  flex: 1 0 33vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoContainer {
  margin-top: 200px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: "Norse bold";
}
img {
  width: 100px;
}
.credits {
  color: white;
  position: fixed;
  bottom: 0;
  margin: 10px;
}
.credits a {
  color: inherit;
  background-color: rgb(0, 0, 0, 0.6);
}
.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #faedcd;
  min-height: 100%;
}
.mainContainer {
  margin: 150px 0;
}
h1 {
  margin: 0px 60px;
}
.title {
  margin-bottom: 20px;
}
.subtitle {
  margin-bottom: 60px;
}
fieldset {
  display: flex;
  flex-flow: row wrap;
  width: 1000px;
  margin: 0;
  border: 0;
  padding: 0;
  margin-left: 60px;
}
label {
  display: flex;
  flex-flow: wrap column;
  margin-right: 60px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #4d4d4d;
}
label input {
  font-size: 24px;
}
.inputField {
  background-color: #fefae0;
  margin: 0;
  box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 24px;
}
input {
  width: 300px;
}
input:valid {
  outline-color: green;
}
input:invalid {
  outline-color: red;
}
button {
  --button-color: #013220;
  margin: 20px 60px;
  padding: 8px 40px;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--button-color);
  border: var(--button-color);
  color: white;
}
button:hover {
  --button-color: #1a4736;
  background-color: var(--button-color);
  border: var(--button-color);
  cursor: pointer;
}
p {
  margin: 0px 60px;
  font-size: 18px;
}
p a {
  color: #013220;
  text-decoration: none;
}
